homeassistant==2026.3.1
home-assistant-frontend
debugpy
colorlog==6.10.1
pyturbojpeg<2.0
hassil
home-assistant-intents
mutagen
ha-ffmpeg
pymicro_vad
pyspeex_noise
radios
git+https://github.com/KipK/vtherm_api.git@api_algo#egg=vtherm_api

